<h2 class="about-header">About</h2>
<p>WebPack is a powerful tool</P>

{{#extend "scripts"}}
  <script src="about.js"></script>
{{/extend}}

{{#extend "css"}}
  <link href="about.css" rel="stylesheet" />
{{/extend}}
